@charset "UTF-8";

/* ---------------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    touch-action: manipulation;

    scroll-behavior: smooth;

    @media (width < 600px) {
        font-size: 14px !important;
    }
}

body {
    font-family: sans-serif;

    user-select: none;

    img {
        pointer-events: none;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #222;
        color:            #fff;
    }
}

/* ---------------------------------------------------------------------------------------------- */

main {
    .container {
        position: absolute;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: inherit;
        }
    }
}

footer {
    .container {
        position: fixed;

        right: 0;
        bottom: 0;
        left: 0;

        width: fit-content;

        margin: 0 auto;

        opacity: 0.5;

        p {
            font-size: 0.75rem;
        }

        a {
            color: inherit;
        }
    }
}

/* ---------------------------------------------------------------------------------------------- */

.coverFlow {
    width: 100%;

    overflow: hidden;

    .container {
        all: unset;

        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        transform-style: preserve-3d;

        perspective: 1500px;
        perspective-origin: center center;

        pointer-events: none;

        .cover {
            height: inherit;

            position: absolute;

            transform-style: preserve-3d;

            backface-visibility: visible;

            border-radius: 0.25rem;

            box-shadow: 0 0 3rem 0 #0000001a;

            pointer-events: auto;
        }
    }
}